.header {
    background: $green;
    color: $white;
    width: 100%;
    height: auto;

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: $site-max-width;
        margin: 0 auto;
        padding: $space;
    }

    &__title {
        margin: 0;
    }

}